
/* Clases nuevas Estilos Miguel Mora*/

img.imgheader {
    width: 100%;
    margin: 10px 3px 18px 16px;
}

.iconhome{
    width: 5%;
    margin: 0px 30px 0px 0px;
}

.pie{
    color: #9f9f9f;
    font-size: 13px;
}

.iconoempleado{
    content: "";
    background-image: url(img/user.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 8%;
    height: 45%;
}

.butonimportar{
    background-color: #007DCC;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    order: 3;
    top: 87%;
    right: 473px;
    position: relative;
    right: 0px;
    top: 15px;
 }
 