.botonflotante {
    background: #007DCC;
    position: fixed;
    top: 50%;
    right: 0%;
}
.butonadd{

 top: 15px;
 left: -5px;
 position: relative;
}
.butonadd2{
 top: 15px;
 left: 422px;
 position: relative  !important;

}
#butontwo{
    top: 65%;
    right: 38px;
}

.butonadd:hover {
    background-color: #000000;
    color: white;
}

.botonflotante:hover {
    background-color: #000000;
    color: white;
}
.pregunta{
    display: -webkit-box  !important;
}
p{
    padding-right: 33px;
}

.mensaje {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    /* Inicialmente oculto */
    top: 90px;
    position: relative;
}